extends layout.jade

block content
	div#wrapper(ng-app="index",ng-controller="GalerieCtl")
		include menu.jade
		include header
		
		section#row1-body.row.galeries
			div.content.col-xs-12.col-sm-12.col-md-12.col-lg-12
				div.galeries
					p.titre-rubrique Galeries photos
					div.liste-galeries
						for galery in galeries
							a.content-galery(href="/galeries/#{galery._id}",title="galerie #{galery.title}")
								if galery.photos.length > 0
									img.img-galery(src="/uploads/galeries/#{galery._id}/thumbnail.jpg",alt="galerie photos #{galery.title}")
									span.title-galery #{galery.title}
								else
									span "la galerie ne contient actuellement aucune photo."
		include footer
